# Acuity Scheduling
ACUITY_USER_ID=39473559
ACUITY_API_KEY=30dcdf5e39d15431ff3f52c22676e9b2

# GoHighLevel
GHL_API_TOKEN=pit-1b3db99b-0094-4da5-a139-a253e43bbf86
GHL_LOCATION_ID=JCpDFKag6slapJ6L1r3

# Server
PORT=3000
SERVER_URL=http://YOUR_SERVER
